 /* .nine{
            border: 2px solid salmon;
            width: 500px;
            height: 951px;
            background-image: url(mickey.png);
            background-repeat:no-repeat;
            background-size: 63px 45px;
            /* background-position: center; */
            background-attachment: fixed;
            margin: 34px;
            padding: 44px;
            background-color: aqua;
            border-width: 4px;
            border-style: double;
            border-radius: 78px;
            box-sizing: border-box;
            
        } */
        .bru{
            background-color: brown;
        }
        *{
            margin: 0;
            padding:0 ;
            background-color: green;
        }
        .box1{
                height: 90px;
                width: 233px;
                border: 2px solid red;
                background-color: black;
                margin: 30px;
                padding: 70px;


        }
        .box2{
            height: 115px;
            width: 100;
            border: 4px solid pink;
            box-sizing: border-box;
            background-color: brown;
            margin: 20px;
            padding: 8px;
            
        }
        body{
            color: blueviolet;
        }